<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button
        ng-click="$root.sidenav.toggleMenu()"
        class="md-icon-button"
        hide-gt-sm
        aria-label="Toggle Menu">
        <md-icon md-svg-icon="general-menu"></md-icon>
      </md-button>

      <md-button
        ng-click="app.navigateTo('texts.list')"
        class="md-icon-button"
        aria-label="Back">
        <md-icon md-svg-icon="general-arrow_back"></md-icon>
      </md-button>

      <md-header>
        <span>Add</span>
      </md-header>
    </div>
  </md-toolbar>

  <md-content>
    <md-card>
      Add under construction!
    </md-card>
  </md-content>
</div>
