<div data-template="/module/text/list/template.html" layout="column" flex>
  <md-toolbar
    ng-if="'defaultToolbar' === textList.currentToolbar"
    ng-include="'/module/text/list/template.html#defaultToolbar'">
  </md-toolbar>

  <md-toolbar
    ng-if="'searchToolbar' === textList.currentToolbar"
    ng-include="'/module/text/list/template.html#searchToolbar'">
  </md-toolbar>

  <md-content
    md-scroll-y
    ng-include="'/module/text/list/template.html#textList'">
  </md-content>
</div>

<script type="text/ng-template" id="/module/text/list/template.html#defaultToolbar">
  <div class="md-toolbar-tools">
    <md-button ng-click="$root.sidenav.toggle()" class="md-icon-button" hide-gt-sm aria-label="Toggle Menu">
      <md-icon md-svg-icon="general-menu"></md-icon>
    </md-button>

    <h1 flex>Text List</h1>

    <md-button ng-click="app.navigateTo('text.create')" class="md-icon-button" aria-label="Add">
      <md-icon md-svg-icon="general-add"></md-icon>
    </md-button>

    <md-button ng-click="textList.toggleToolbar()" class="md-icon-button" aria-label="Search">
      <md-icon md-svg-icon="general-search"></md-icon>
    </md-button>

    <div ng-include="'/module/text/list/template.html#sortBy'"></div>
  </div>
</script>

<script type="text/ng-template" id="/module/text/list/template.html#searchToolbar">
  <div class="md-toolbar-tools">
    <md-button ng-click="textList.toggleToolbar()" class="md-icon-button" aria-label="Close Search">
      <md-icon md-svg-icon="general-close"></md-icon>
    </md-button>

    <input flex autofocus type="search" ng-model="textList.searchText" class="textList-searchText" placeholder="Search" aria-label="Search">

    <md-button ng-click="textList.toggleToolbar()" class="md-icon-button" aria-label="Toggle Search">
      <md-icon md-svg-icon="general-search"></md-icon>
    </md-button>
  </div>
</script>

<script type="text/ng-template" id="/module/text/list/template.html#textList">
  <md-card>
    <md-list>
      <md-divider></md-divider>
      <md-list-item
        ng-repeat="text in textList.collection | filter:textList.searchText | orderBy:textList.currentOrder"
        ng-click="app.navigateTo('text.read', {id: text.id})">
        <p>{{text.title}}</p>
        <div ng-include="'/module/text/list/template.html#submenu'"></div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-card>
</script>

<script type="text/ng-template" id="/module/text/list/template.html#submenu">
  <md-menu>
    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open file submenu">
      <md-icon md-menu-origin md-svg-icon="general-more_vert"></md-icon>
    </md-button>
    <md-menu-content width="2">
      <md-menu-item>
        <md-button ng-click="textList.rename(text)">
          <md-icon md-svg-icon="general-edit" md-menu-align-target></md-icon>
          Rename
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="textList.delete(text)">
          <md-icon md-svg-icon="general-delete"></md-icon>
          Delete
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</script>

<script type="text/ng-template" id="/module/text/list/template.html#sortBy">
  <md-menu>
    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More Actions">
      <md-icon md-menu-origin md-svg-icon="general-more_vert"></md-icon>
    </md-button>
    <md-menu-content width="2">
      <md-menu-item ng-class="{'textList-currentOrder' : '+createdAt' === textList.currentOrder}">
        <md-button ng-click="textList.sortBy('+createdAt')">
          <md-icon md-svg-icon="text:sort_by-upward"></md-icon>
          <span>Newest first</span>
        </md-button>
      </md-menu-item>
      <md-menu-item ng-class="{'textList-currentOrder' : '-createdAt' === textList.currentOrder}">
        <md-button ng-click="textList.sortBy('-createdAt')">
          <md-icon md-svg-icon="text:sort_by-downward"></md-icon>
          <span>Older first</span>
        </md-button>
      </md-menu-item>
      <md-menu-item ng-class="{'textList-currentOrder' : 'studied' === textList.currentOrder}">
        <md-button ng-click="textList.sortBy('studied')">
          <md-icon md-svg-icon="text:sort_by-most_studied" md-menu-align-target></md-icon>
          <span>Most studied</span>
        </md-button>
      </md-menu-item>
      <md-menu-item ng-class="{'textList-currentOrder' : '+accessedAt' === textList.currentOrder}">
        <md-button ng-click="textList.sortBy('+accessedAt')">
          <md-icon md-svg-icon="text:sort_by-access_time" md-menu-align-target></md-icon>
          <span>Last activity</span>
        </md-button>
      </md-menu-item>
      <md-menu-item ng-class="{'textList-currentOrder' : '+title' === textList.currentOrder}">
        <md-button ng-click="textList.sortBy('+title')">
          <md-icon md-svg-icon="text:sort_by-alpha" md-menu-align-target></md-icon>
          <span>Alfabet</span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</script>
