<div layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="app.navigateTo('text.list')" class="md-icon-button" aria-label="Back">
        <md-icon md-svg-icon="general-arrow_back"></md-icon>
      </md-button>

      <h1>Add Text</h1>
    </div>

    <md-tabs md-selected="textCreate.tabIndex" class="md-primary">
      <md-tab>Add File</md-tab>
      <md-tab>Copy In</md-tab>
      <md-tab>Add Url</md-tab>
    </md-tabs>
  </md-toolbar>

  <md-content md-scroll-y>
    <div ng-if="0 == textCreate.tabIndex" ng-include="'/module/text/create/template.html#addFile'"></div>
    <div ng-if="1 == textCreate.tabIndex" ng-include="'/module/text/create/template.html#copyIn'"></div>
    <div ng-if="2 == textCreate.tabIndex" ng-include="'/module/text/create/template.html#addUrl'"></div>
  </md-content>
</div>

<script type="text/ng-template" id="/module/text/create/template.html#addFile">
  <div layout="row" layout-align="center" layout-padding>
    <md-card layout-fill flex-gt-md="80">
      <md-card-content>
        <form name="addFileForm" ng-submit="textCreate.addFile()">
          <md-input-container class="md-block">
            <label>Title</label>
            <input id="title" ng-model="textCreate.title" type="text" maxlength="255">
          </md-input-container>
          <div layout="column">
            <input class="ng-hide" id="input-file-id" multiple type="file"/>
            <label flex="50" for="input-file-id" class="md-button md-raised md-default-theme md-ink-ripple">Choose Files</label>
          </div>
          <div layout="row" layout-align="end">
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="addFileForm.$pristine || (addFileForm.$dirty && addFileForm.$invalid)"
              ng-class="{'md-raised md-hue-2' : (addFileForm.$dirty && addFileForm.$valid)}">
              Add
            </md-button>
            <md-button type="reset" class="md-primary">Reset</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</script>

<script type="text/ng-template" id="/module/text/create/template.html#copyIn">
  <div layout="row" layout-align="center" layout-padding>
    <md-card layout-fill flex-gt-md="80">
      <md-card-content>
        <form name="copyInForm" ng-submit="textCreate.copyIn()">
          <md-input-container class="md-block">
            <label>Title</label>
            <input id="title" ng-model="textCreate.title" type="text" maxlength="255">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Content</label>
            <textarea id="content" ng-model="textCreate.content" rows="3" required></textarea>
          </md-input-container>
          <div layout="row" layout-align="end">
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="copyInForm.$pristine || (copyInForm.$dirty && copyInForm.$invalid)"
              ng-class="{'md-raised md-hue-2' : (copyInForm.$dirty && copyInForm.$valid)}">
              Add
            </md-button>
            <md-button type="reset" class="md-primary">Reset</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</script>

<script type="text/ng-template" id="/module/text/create/template.html#addUrl">
  <div layout="row" layout-align="center" layout-padding>
    <md-card layout-fill flex-gt-md="80">
      <md-card-content>
        <form name="addUrlForm" ng-submit="textCreate.addUrl()">
          <md-input-container class="md-block">
            <label>Title</label>
            <input id="title" ng-model="textCreate.title" type="text" maxlength="255">
          </md-input-container>
          <md-input-container class="md-block">
            <label>URL</label>
            <input name="url" ng-model="textCreate.url" type="text" required>
            <div ng-messages="addUrlForm.url.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div layout="row" layout-align="end">
            <md-button
              type="submit"
              class="md-primary"
              ng-disabled="addUrlForm.$pristine || (addUrlForm.$dirty && addUrlForm.$invalid)"
              ng-class="{'md-raised md-hue-2' : (addUrlForm.$dirty && addUrlForm.$valid)}">
              Add
            </md-button>
            <md-button type="reset" class="md-primary">Reset</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</script>
