#textsList-searchInput md-progress-linear {
  display: none;
}

.no-animate {
  -webkit-transition: none !important;
  transition: none !important;
}

.textsList-currentOrder md-icon {
  color: black;
}

.textsList-currentOrder span {
  font-weight: bold;
}
