.sidenav-avatar {
  width: 64px;
  height: 64px;
  margin: 10px 0 0 10px;
}

.sidenav-login {
  font-size: 12pt;
}

.sidenav-active md-icon {
  color: black;
}

.sidenav-active p {
  font-weight: bold;
}
