md-sidenav {
	width: 90pt;
}

md-sidenav  md-list {
	padding: 0 0 8px 0;
}

md-sidenav > md-list > md-list-item > button {
	width: 100%;
	text-align: left;
}

md-sidenav > md-list > md-list-item > button > span {
	text-transform: none;
}
