.sidenav-avatar {
  width: 48px;
  height: 48px;
  margin: 0;
}

/*md-sidenav {*/
  /*width: 90pt;*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

/*.site-name {*/
  /*font-weight: bold;*/
/*}*/

/*md-sidenav md-list {*/
  /*padding: 0 0 0 0;*/
/*}*/

/*md-sidenav > md-list > md-list-item > button {*/
  /*width: 100%;*/
  /*text-align: left !important;*/
/*}*/

/*md-sidenav > md-list > md-list-item > button.selectedMenu {*/
  /*width: 100%;*/
  /*font-weight: bold;*/
/*}*/

/*md-sidenav > md-list > md-list-item > button > span {*/
  /*text-transform: none;*/
/*}*/

/*md-content.md-default-theme {*/
  /*background-color: #eee;*/
/*}*/

/*md-card {*/
  /*background-color: #fff;*/
/*}*/
/*md-card h2:first-of-type {*/
  /*margin-top: 0;*/
/*}*/

/*md-toolbar .md-button.md-default-theme {*/
  /*border-radius: 99%;*/
/*}*/

/*h2 {*/
  /*font-weight: 400;*/
/*}*/

/*md-toolbar:not(.md-hue-1),*/
/*.md-fab {*/
  /*fill: #fff;*/
/*}*/

/*md-sidenav {*/
  /*fill: #737373;*/
/*}*/
/*md-sidenav md-icon {*/
  /*position: relative;*/
  /*top: 5px;*/
/*}*/

/*.user-avatar {*/
  /*border-radius: 50%;*/
/*}*/

