<md-sidenav
  md-component-id="sidenav-left"
  class="md-sidenav-left md-whiteframe-z2"
  md-is-locked-open="$mdMedia('gt-sm')">

  <md-toolbar
    layout-align="center center"
    class="md-hue-2">
    <span class="site-name">Swot.Me</span>
  </md-toolbar>

  <md-list>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('texts')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'texts' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-texts"></md-icon> Texts
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('words')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'words' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-words"></md-icon> Words
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('stats')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'stats' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-stats"></md-icon> Stats
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('import')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'import' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-import"></md-icon> Import
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('export')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'export' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-export"></md-icon> Export
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('settings')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'settings' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-settings"></md-icon> Settings
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('news')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'news' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-news"></md-icon> News
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('ideas')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'ideas' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-ideas"></md-icon> Ideas
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('help')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'help' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-help"></md-icon> Help
      </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <md-button
        ng-click="sidenav.navigateTo('about')"
        ng-class="{'md-primary md-hue-2 selectedMenu' : 'about' === sidenav.selectedMenu}">
        <md-icon md-svg-icon="sidenav-about"></md-icon> About
      </md-button>
    </md-list-item>
  </md-list>
</md-sidenav>
