<md-sidenav
  md-component-id="sidenav-left"
  class="md-sidenav-left md-whiteframe-z2"
  md-is-locked-open="$mdMedia('gt-sm')">

  <md-toolbar layout-align="center center" class="md-tall md-hue-2">
    <div class="md-toolbar-tools">
      <md-icon md-svg-icon="sidenav-avatar" class="sidenav-avatar"></md-icon>
      <span>login@domainname.com</span>
    </div>
  </md-toolbar>

  <md-content>
    <md-list>
      <md-list-item
        ng-click="app.navigateTo('start')"
        ng-class="{'sidenav-active' : 'start' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-start"></md-icon>
        <p>Start</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item
        ng-click="app.navigateTo('texts.list')"
        ng-class="{'sidenav-active' : 'texts' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-texts"></md-icon>
        <p>Texts</p>
      </md-list-item>
      <md-list-item
        ng-click="app.navigateTo('words')"
        ng-class="{'sidenav-active' : 'words' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-words"></md-icon>
        <p>Words</p>
      </md-list-item>
      <md-list-item
        ng-click="app.navigateTo('stats')"
        ng-class="{'sidenav-active' : 'stats' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-stats"></md-icon>
        <p>Stats</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item
        ng-click="app.navigateTo('import')"
        ng-class="{'sidenav-active' : 'import' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-import"></md-icon>
        <p>Import</p>
      </md-list-item>
      <md-list-item
        ng-click="app.navigateTo('export')"
        ng-class="{'sidenav-active' : 'export' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-export"></md-icon>
        <p>Export</p>
      </md-list-item>
      <md-list-item
        ng-click="app.navigateTo('settings')"
        ng-class="{'sidenav-active' : 'settings' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-settings"></md-icon>
        <p>Settings</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item
        ng-click="app.navigateTo('news')"
        ng-class="{'sidenav-active' : 'news' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-news"></md-icon>
        <p>News</p>
      </md-list-item>
      <md-list-item
        ng-click="app.navigateTo('ideas')"
        ng-class="{'sidenav-active' : 'ideas' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-ideas"></md-icon>
        <p>Ideas</p>
      </md-list-item>
      <md-list-item
        ng-click="app.navigateTo('help')"
        ng-class="{'sidenav-active' : 'help' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-help"></md-icon>
        <p>Help</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item
        ng-click="app.navigateTo('about')"
        ng-class="{'sidenav-active' : 'about' === sidenav.currentMenu}">
        <md-icon md-svg-icon="sidenav-about"></md-icon>
        <p>About</p>
      </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
