<md-sidenav
  data-template="/module/sidenav/template.html"
  md-component-id="sidenav-left"
  class="md-sidenav-left md-whiteframe-z2"
  md-is-locked-open="$mdMedia('gt-sm')">

  <md-toolbar
    class="md-tall md-hue-2"
    ng-include="'/module/sidenav/template.html#toolbar'">
  </md-toolbar>

  <md-content
    ng-if="'defaultMenu' === sidenav.currentContent"
    ng-include="'/module/sidenav/template.html#defaultMenu'">
  </md-content>

  <md-content
    ng-if="'accountMenu' === sidenav.currentContent"
    ng-include="'/module/sidenav/template.html#accountMenu'">
  </md-content>
</md-sidenav>

<script type="text/ng-template" id="/module/sidenav/template.html#toolbar">
  <div flex>
    <md-icon md-svg-icon="sidenav:avatar" class="sidenav-avatar"></md-icon>
  </div>
  <div>
    <md-list-item layout-fill ng-click="sidenav.toggleTemplate()">
      <span flex class="sidenav-login">login@domainname.com</span>
      <md-icon ng-if="'defaultMenu' === sidenav.currentContent" md-svg-icon="sidenav:drop_down"></md-icon>
      <md-icon ng-if="'accountMenu' === sidenav.currentContent" md-svg-icon="sidenav:drop_up"></md-icon>
    </md-list-item>
  </div>
</script>

<script type="text/ng-template" id="/module/sidenav/template.html#defaultMenu">
  <md-list>
    <md-list-item
      ng-click="app.navigateTo('start')"
      ng-class="{'sidenav-active' : 'start' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:start"></md-icon>
      <p>Start</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item
      ng-click="app.navigateTo('text.list')"
      ng-class="{'sidenav-active' : 'text' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:texts"></md-icon>
      <p>Texts</p>
    </md-list-item>
    <md-list-item
      ng-click="app.navigateTo('words')"
      ng-class="{'sidenav-active' : 'words' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:words"></md-icon>
      <p>Words</p>
    </md-list-item>
    <md-list-item
      ng-click="app.navigateTo('stats')"
      ng-class="{'sidenav-active' : 'stats' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:stats"></md-icon>
      <p>Stats</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item
      ng-click="app.navigateTo('import')"
      ng-class="{'sidenav-active' : 'import' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:import"></md-icon>
      <p>Import</p>
    </md-list-item>
    <md-list-item
      ng-click="app.navigateTo('export')"
      ng-class="{'sidenav-active' : 'export' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:export"></md-icon>
      <p>Export</p>
    </md-list-item>
    <md-list-item
      ng-click="app.navigateTo('settings')"
      ng-class="{'sidenav-active' : 'settings' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:settings"></md-icon>
      <p>Settings</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item
      ng-click="app.navigateTo('news')"
      ng-class="{'sidenav-active' : 'news' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:news"></md-icon>
      <p>News</p>
    </md-list-item>
    <md-list-item
      ng-click="app.navigateTo('ideas')"
      ng-class="{'sidenav-active' : 'ideas' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:ideas"></md-icon>
      <p>Ideas</p>
    </md-list-item>
    <md-list-item
      ng-click="app.navigateTo('help')"
      ng-class="{'sidenav-active' : 'help' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:help"></md-icon>
      <p>Help</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item
      ng-click="app.navigateTo('about')"
      ng-class="{'sidenav-active' : 'about' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:about"></md-icon>
      <p>About</p>
    </md-list-item>
  </md-list>
</script>

<script type="text/ng-template" id="/module/sidenav/template.html#accountMenu">
  <md-list>
    <md-list-item
      ng-click="app.navigateTo('register')"
      ng-class="{'sidenav-active' : 'register' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:register"></md-icon>
      <p>Register</p>
    </md-list-item>
    <md-list-item
      ng-click="app.navigateTo('login')"
      ng-class="{'sidenav-active' : 'login' === sidenav.currentMenu}">
      <md-icon md-svg-icon="sidenav:login"></md-icon>
      <p>Login</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item
      ng-click="app.navigateTo('login')">
      <md-icon md-svg-icon="sidenav:exit"></md-icon>
      <p>Exit</p>
    </md-list-item>
  </md-list>
</script>
